.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	&__background {
		background-color: $modal-background-color;
	}

	&__content {
		position: fixed;
		top: $modal-content-top;
		max-width: $modal-content-max-width;
	}

	&__header {
		padding: $modal-header-padding;
	}

	&__title {
		margin: $modal-title-margin;
		font-size: $modal-title-font-size;
		line-height: $modal-title-line-height;
	}

	&__body {
		padding: $modal-body-padding;
	}

	&__footer {
		padding: $modal-footer-padding;
	}
}
