.header {
	display: block;
	background-color: #444444;
	color: #FFFFFF;
	@extend %clearfix;

	&--fixed {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
	}

	&__logo {
		display: block;
		float: left;
		height: 3rem;
		padding: 0 1rem;
		color: #FFFFFF;
		text-decoration: none;
		font-family: $open-sans;
		font-size: 1.5rem;
		line-height: 3rem;

		&:hover {
			color: #FFFFFF;
			text-decoration: none;
		}
	}

	&__toggle {
		display: block;
		float: left;
		height: 3rem;
		padding: 0 1rem;
		color: #FFFFFF;
		text-decoration: none;
		font-size: 1.5rem;
		line-height: 3rem;
	}
}
