// body
$body-background-color: #FFF;
$body-color: #444;

// modal
$modal-background-color: rgba(0, 0, 0, 0.5);
$modal-body-padding: 1rem;
$modal-content-max-width: 30rem;
$modal-content-top: 3rem;
$modal-footer-padding: 1rem;
$modal-header-padding: 1rem;
$modal-title-font-size: 1.5rem;
$modal-title-line-height: 1.5;
$modal-title-margin: 0;
